

    
    <div class="form-holder">
        
        <input required id="typeC" name="typeC" value = "<%= cuisConteneur.typeC %>" type="text" class="form-control" placeholder="type de conteneur">
    </div>
    <div class="form-holder">
        
        <input required id="nombreC" name="nombreC" value = "<%= cuisConteneur.nombreC %>" type="text" class="form-control" placeholder="nombre de conteneur">
    </div>
    <div class="form-holder">
        
        <input required id="dateC" name="dateC" value = "<%= new Date(cuisConteneur.dateC).getFullYear().toString()+'-'+ ("0" + (new Date(cuisConteneur.dateC).getMonth()+1).toString()).slice(-2)+'-' +("0" + new Date(cuisConteneur.dateC).getDate().toString()).slice(-2) %>" type="date" class="form-control" placeholder="jj/mm/yyyy">
    </div>
    <div class="form-holder">   
        
        <input required id="montantC" name="montantC" value = "<%= cuisConteneur.montantC %>" type="text" class="form-control" placeholder="montant facturé">
    </div>
    <div class="form-holder">
        
        <input required id="cautionC" name="cautionC" value = "<%= cuisConteneur.cautionC %>" type="text" class="form-control" placeholder="caution">
    </div>
    <div class="form-holder">
        
        <input required id="poidsC" name="poidsC" value = "<%= cuisConteneur.poidsC %>" type="text" class="form-control" placeholder="poids de déchets">
    </div>
    <div class="form-holder">
        
        <input required id="commentaireC" name="commentaireC" value = "<%= cuisConteneur.commentaireC %>" type="text" class="form-control" placeholder="commentaire">
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button onclick="history.back()" class="btn btn-warning"> annuler</button>
    </div>
    

